@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header, .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header ul, .footer ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.left-links a, .right-links a {
  text-decoration: none;
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .buttons {
  margin-top: 10px;
}

.content button {
  padding: 8px 16px;
}

.footer {
  background-color: #eee;
  align-self: flex-start;
}




